# imageDirect {{title}}

- Copyright:         imageDirect Pty Ltd
- URI:               <https://www.imagedirect.com.au/>
- Author:            imageDirect webTeam
{{#author}}
- Contributors:        {{author}}
{{/author}}
- Tags:              block
- Tested up to:      6.1
- Stable tag:        {{version}}
{{#license}}
- License:           {{license}}
{{/license}}
{{#licenseURI}}
- License URI:       {{{licenseURI}}}
{{/licenseURI}}

== Description ==

{{description}}

== Changelog ==

= {{version}} =
* Release

---

[!["imageDirect - Get found in the noise"][screenshot-src:def]][link:def]

---

<!-- markdownlint-disable MD033 -->
<a href="https://www.imagedirect.com.au/" title="imageDirect - Get found in the noise">
<img width="160" height="67" src="https://www.imagedirect.com.au/wp-content/uploads/2017/07/ID_CMYKLogo_April2017_Final-01.svg" alt="imageDirect - Get found in the noise" />
</a>
<!-- markdownlint-enable MD033 -->

#### imageDirect - Get found in the noise™

[screenshot-src:def]: /screenshot.png?raw=true "imageDirect - Get found in the noise"
[link:def]: https://www.imagedirect.com.au/
